.azure

/app/backend_env
/app/backend_env/*

.DS_Store
*.DS_Store

__pycache__

/app/static
/app/static/*
.env

/scripts/data/*
/scripts/contentData.json
topic-indexs.json
temp

.idea
.vscode 
/app/helper/__pycache__
.vercel
