.searchInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.searchInputContainer input {
    font-size: 16px;
    border-radius: 0;
    /* border: 1px solid #ccc; */
    margin-right: 5px;
}
  
.searchInputContainer button {
    /* margin-top:-1px; */
    /* background-color: #702e2e; */
    color: #fff;
    border-radius: 0;
    /* margin-right: 20px; */
    padding: 10px;
    margin-left: 5px;
    margin-top: 0px;
    transition: all 0.2s ease-in-out;
    /* border: 1px solid ; */
}

.searchInputOuter{
    /* border: 1px solid #555555;s */
    /* height: 45px; */
    overflow: visible;
    z-index: 2;
    margin-bottom: 10px;
}



