.container{
    display: flex;
    height: 41px;
    justify-content: space-between;
}

.buttonContainer{
    height: 100%;
    width: fit-content;
    margin: 0; 
    display: inline;
}

.buttons{
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
    transform: translate(-1px, 0);
}

.refineButton{
    margin-left: 20px;
}